godot/assets/sprites/obstacles.png filter=lfs diff=lfs merge=lfs -text
godot/assets/sprites/shadows.png filter=lfs diff=lfs merge=lfs -text
godot/assets/sprites/tileset.png filter=lfs diff=lfs merge=lfs -text
godot/assets/sprites/whip.png filter=lfs diff=lfs merge=lfs -text
godot/assets/sprites/abilities.png filter=lfs diff=lfs merge=lfs -text
godot/assets/sprites/allies.png filter=lfs diff=lfs merge=lfs -text
godot/assets/sprites/cursor.png filter=lfs diff=lfs merge=lfs -text
godot/assets/sprites/enemies.png filter=lfs diff=lfs merge=lfs -text
godot/assets/sprites/items.png filter=lfs diff=lfs merge=lfs -text
godot/assets/sprites/portraits/ash-magnum.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/DefaultLayoutParts/Layer_Glossary/preview.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/Jump/icon_label.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Editor/Images/Unknown.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/rpg_portraits/base2.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/rpg_portraits/base3.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Antonio/pl5[[:space:]]surprise.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Jane/pl3[[:space:]]concept.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Princess/shock.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/DefaultLayoutParts/Layer_Textbubble/preview.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/Signal/icon.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Editor/Images/preview_character.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Antonio/pl5.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Antonio/pl5[[:space:]]scoff.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Jane/pl3[[:space:]]doubt.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Jane/pl3[[:space:]]surprise.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/Character/icon_position.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/DefaultLayoutParts/Layer_Input/preview.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Jane/pl3[[:space:]]avoid.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Jane/pl3[[:space:]]confusion.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Princess/neutral.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/DefaultLayoutParts/Layer_History/preview.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/DefaultLayoutParts/Layer_TextInput/preview.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/DefaultLayoutParts/Layer_VN_Choices/preview.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/End/icon.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Editor/HomePage/icon_bg.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Antonio/pl5[[:space:]]plot.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/Call/icon.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/DefaultLayoutParts/Style_TextBubbles/preview.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Editor/Images/preview_character_speaker.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/Audio/icon_music.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/DefaultLayoutParts/Layer_VN_Textbox/preview.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Jane/pl3[[:space:]]plot.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Jane/pl3[[:space:]]shy.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Princess/smile.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/Clear/icon.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/rpg_portraits/base1.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/Core/icon.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/Voice/icon.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Editor/Images/Resources/icon_character.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Jane/pl3[[:space:]]blink.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Jane/pl3[[:space:]]happy.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/DefaultLayoutParts/Layer_FullBackground/preview.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Portrait1.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Portrait2.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/rpg_portraits/base4.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Antonio/pl5[[:space:]]shy.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/Jump/icon_jump.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/backgrounds/BubbleEnd.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/next-indicator/next-indicator-dialogic-1.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Antonio/pl5[[:space:]]hate.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/DefaultLayoutParts/Style_VN_Default/preview.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/TextInput/icon.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Antonio/pl5[[:space:]]blink.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Princess/joy.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Princess/princess_blank.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Princess/anger.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Princess/frown.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/Audio/icon_sound.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/Background/icon.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/Comment/icon.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Editor/Images/Pieces/variable_icon.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Antonio/pl5[[:space:]]doubt.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Jane/pl3[[:space:]]sad.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/Style/icon.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/DefaultLayoutParts/Layer_SpeakerPortraitTextbox/preview.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/DefaultLayoutParts/Style_SpeakerTextbox/preview.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/Variable/icon.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/next-indicator/next-indicator.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Example[[:space:]]Assets/portraits/Antonio/pl5[[:space:]]sad.png filter=lfs diff=lfs merge=lfs -text
godot/addons/dialogic/Modules/DefaultLayoutParts/Layer_VN_Portraits/preview.png filter=lfs diff=lfs merge=lfs -text
godot/assets/sprites/info-panel.png filter=lfs diff=lfs merge=lfs -text
godot/assets/sprites/portraits/big-batty.png filter=lfs diff=lfs merge=lfs -text
godot/assets/sprites/portraits/big-batty-gottem.png filter=lfs diff=lfs merge=lfs -text
godot/assets/sprites/portraits/alukrod-blood.png filter=lfs diff=lfs merge=lfs -text
godot/assets/sprites/portraits/alukrod.png filter=lfs diff=lfs merge=lfs -text
godot/assets/sprites/portraits/ash-magnum-smirk.png filter=lfs diff=lfs merge=lfs -text
godot/assets/sprites/portraits/big-batty-defeated.png filter=lfs diff=lfs merge=lfs -text
godot/assets/sprites/portraits/big-batty-gottem-even-more.png filter=lfs diff=lfs merge=lfs -text
godot/assets/audio/epic-metal-dubstep-cinematic-144716.mp3 filter=lfs diff=lfs merge=lfs -text
godot/assets/audio/hammer-of-witches-doom-metal-power-226459.mp3 filter=lfs diff=lfs merge=lfs -text
godot/assets/audio/metal-dark-matter-111451.mp3 filter=lfs diff=lfs merge=lfs -text
godot/assets/audio/metal-gear-136567.mp3 filter=lfs diff=lfs merge=lfs -text
godot/assets/sprites/sword.png filter=lfs diff=lfs merge=lfs -text
